@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark tokens */
:root{
  --bg-900:#0B0F17;
  --text:#E6EEF7;
  --muted:#98A0AA;
  --accent-1:#00B2FF;
  --accent-2:#00D27A;
}

/* Body */
html,body {height:100%}
body {background:var(--bg-900); color:var(--text); font-family:Inter,ui-sans-serif,system-ui,-apple-system,'Segoe UI',Roboto,'Helvetica Neue',Arial;}
a{color:var(--accent-1)}
